/* body {
  margin: 0;
  padding: 0;
  background-color: rgb(46, 45, 45);
}
/* .BigBox {
  padding-left: 108%;
  padding-right: 108%;
} */
/*
.imageCenter {
  display: grid;
  grid-template-rows: 13px 13px 13px;
  grid-template-columns: 133px 133px 133px;
}
.myimage {
  border: none;
  border-radius: 20px;
  margin: 10px;
}
@media only screen and (max-width: 1615px) {
  .BigBox {
    padding-left: 240%;
    padding-right: 108%;
  }
  .myimage {
    width: 90vw;
    height: 68vh;
    border: none;
    border-radius: 20px;
    margin: 10px;
  }
} */
* {
  box-sizing: border-box;
}

body {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  overflow: hidden;
  margin: 0;
  background-color: rgb(46, 45, 45);
}

.container {
  display: flex;
  width: 50vw;
}

.panel {
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 80vh;
  border-radius: 50px;
  color: #fff;
  cursor: pointer;
  flex: 0.5;
  margin: 10px;
  position: relative;
  transition: all 500ms ease-in;
}

.panel h3 {
  font-size: 24px;
  position: absolute;
  bottom: 20px;
  left: 20px;
  margin: 0;
  opacity: 0;
}

.panel.active {
  flex: 5;
}

.panel.active h3 {
  opacity: 1;
  transition: opacity 0.3s ease-in 0.4s;
}

@media (max-width: 480px) {
  .container {
    width: 100vw;
  }

  .panel:nth-of-type(4),
  .panel:nth-of-type(5) {
    display: none;
  }
}
